In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('KAts.csv', low_memory = False, parse_dates = ['Date'])

In [16]:
df.head()

,Case,Age,Sex,Date,X09.03.2020,X10.03.2020,X11.03.2020,X12.03.2020,X13.03.2020,X14.03.2020,...,X03.07.2020,X04.07.2020,X05.07.2020,X06.07.2020,X07.07.2020,X08.07.2020,X09.07.2020,X10.07.2020,X11.07.2020,X12.07.2020
0,1,41,Male,09-Mar,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
1,2,0,Female,10-Mar,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
2,3,13,Female,10-Mar,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
3,4,0,NaN,09-Mar,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
4,5,26,Male,13-Mar,NaN,NaN,NaN,NaN,H,H,...,C,C,C,C,C,C,C,C,C,C

In [17]:
df['Date']=pd.to_datetime(df['Date'].apply(lambda x: x+'-2020'))

In [18]:
df.head()

,Case,Age,Sex,Date,X09.03.2020,X10.03.2020,X11.03.2020,X12.03.2020,X13.03.2020,X14.03.2020,...,X03.07.2020,X04.07.2020,X05.07.2020,X06.07.2020,X07.07.2020,X08.07.2020,X09.07.2020,X10.07.2020,X11.07.2020,X12.07.2020
0,1,41,Male,2020-03-09,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
1,2,0,Female,2020-03-10,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
2,3,13,Female,2020-03-10,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
3,4,0,NaN,2020-03-09,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
4,5,26,Male,2020-03-13,NaN,NaN,NaN,NaN,H,H,...,C,C,C,C,C,C,C,C,C,C

In [19]:
col = pd.Series(df.columns[4:])

def remove_X(x):
    return pd.to_datetime(x[1:])

c = col.apply(lambda x: remove_X(x))
c.index = range(len(df.columns))[4:]

In [20]:
c

4     2020-09-03
5     2020-10-03
6     2020-11-03
7     2020-12-03
8     2020-03-13
         ...
125   2020-08-07
126   2020-09-07
127   2020-10-07
128   2020-11-07
129   2020-12-07
Length: 126, dtype: datetime64[ns]

In [21]:
c[0]=df.columns[0]
c[1]=df.columns[1]
c[2] = df.columns[2]
c[3] =df.columns[3]

In [22]:
c.sort_index(inplace = True)

In [23]:
df.columns = c

In [24]:
df.head()

,Case,Age,Sex,Date,2020-09-03 00:00:00,2020-10-03 00:00:00,2020-11-03 00:00:00,2020-12-03 00:00:00,2020-03-13 00:00:00,2020-03-14 00:00:00,...,2020-03-07 00:00:00,2020-04-07 00:00:00,2020-05-07 00:00:00,2020-06-07 00:00:00,2020-07-07 00:00:00,2020-08-07 00:00:00,2020-09-07 00:00:00,2020-10-07 00:00:00,2020-11-07 00:00:00,2020-12-07 00:00:00
0,1,41,Male,2020-03-09,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
1,2,0,Female,2020-03-10,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
2,3,13,Female,2020-03-10,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
3,4,0,NaN,2020-03-09,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
4,5,26,Male,2020-03-13,NaN,NaN,NaN,NaN,H,H,...,C,C,C,C,C,C,C,C,C,C

In [74]:
str(df.iloc[4]['Date'])

'2020-03-13 00:00:00'

In [84]:
df=pd.read_csv('out.csv')

/home/vineet/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
df

,Unnamed: 0,Case,Age,Sex,Date,2020-09-03 00:00:00,2020-10-03 00:00:00,2020-11-03 00:00:00,2020-12-03 00:00:00,2020-03-13 00:00:00,...,2020-03-07 00:00:00,2020-04-07 00:00:00,2020-05-07 00:00:00,2020-06-07 00:00:00,2020-07-07 00:00:00,2020-08-07 00:00:00,2020-09-07 00:00:00,2020-10-07 00:00:00,2020-11-07 00:00:00,2020-12-07 00:00:00
0,0,1,41,Male,2020-03-09,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
1,1,2,0,Female,2020-03-10,NaN,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
2,2,3,13,Female,2020-03-10,NaN,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
3,3,4,0,NaN,2020-03-09,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
4,4,5,26,Male,2020-03-13,NaN,NaN,NaN,NaN,H,...,C,C,C,C,C,C,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38838,38838,38839,41,Female,2020-07-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38839,38839,38840,49,Male,2020-07-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38840,38840,38841,17,Male,2020-07-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38841,38841,38842,15,Male,2020-07-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38842,38842,38843,50,Female,2020-07-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
import datetime
str(pd.to_datetime(datetime.datetime.strptime("2020-03-09", "%Y-%m-%d").strftime("%Y-%d-%m")))

'2020-09-03 00:00:00'

In [ ]:
for k in range(0,38834):
    flag=-1
    cnt=0
    for i in df.iloc[k]:
        if(i!=''):
            flag=1
        if(flag==1):
            cnt=cnt+1
        if(i=='C'):
            flag=0
            print('PID '+str(df['Case'][k])+' Cured in '+str(cnt))
            cnt=0
            break
        if(i=='D'):
            flag=0
            #print('Dead in'+str(cnt))
            cnt=0

In [150]:
dead=pd.read_csv("../../Downloads/ka-death.csv")

In [163]:
dead['DOA'][5]

'18-06-2020'