In [1]:
import numpy as np
import pandas as pd

In [52]:
df = pd.read_csv('KAts.csv', low_memory = False, parse_dates = ['Date'])

In [53]:
df.head()

,Case,Age,Sex,Date,X09.03.2020,X10.03.2020,X11.03.2020,X12.03.2020,X13.03.2020,X14.03.2020,...,X03.07.2020,X04.07.2020,X05.07.2020,X06.07.2020,X07.07.2020,X08.07.2020,X09.07.2020,X10.07.2020,X11.07.2020,X12.07.2020
0,1,41,Male,09-Mar,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
1,2,0,Female,10-Mar,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
2,3,13,Female,10-Mar,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
3,4,0,NaN,09-Mar,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
4,5,26,Male,13-Mar,NaN,NaN,NaN,NaN,H,H,...,C,C,C,C,C,C,C,C,C,C

In [60]:
df['Date']=pd.to_datetime(df['Date'].apply(lambda x: x+'-2020'))

In [62]:
df.head()

,Case,Age,Sex,Date,X09.03.2020,X10.03.2020,X11.03.2020,X12.03.2020,X13.03.2020,X14.03.2020,...,X03.07.2020,X04.07.2020,X05.07.2020,X06.07.2020,X07.07.2020,X08.07.2020,X09.07.2020,X10.07.2020,X11.07.2020,X12.07.2020
0,1,41,Male,2020-03-09 20:20:00,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
1,2,0,Female,2020-03-10 20:20:00,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
2,3,13,Female,2020-03-10 20:20:00,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
3,4,0,NaN,2020-03-09 20:20:00,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
4,5,26,Male,2020-03-13 20:20:00,NaN,NaN,NaN,NaN,H,H,...,C,C,C,C,C,C,C,C,C,C

In [63]:
col = pd.Series(df.columns[4:])

def remove_X(x):
    return pd.to_datetime(x[1:])

c = col.apply(lambda x: remove_X(x))
c.index = range(len(df.columns))[4:]

In [64]:
c

4     2020-09-03
5     2020-10-03
6     2020-11-03
7     2020-12-03
8     2020-03-13
         ...
125   2020-08-07
126   2020-09-07
127   2020-10-07
128   2020-11-07
129   2020-12-07
Length: 126, dtype: datetime64[ns]

In [65]:
c[0]=df.columns[0]
c[1]=df.columns[1]
c[2] = df.columns[2]
c[3] =df.columns[3]

In [66]:
c.sort_index(inplace = True)

In [67]:
df.columns = c

In [68]:
df.head()

,Case,Age,Sex,Date,2020-09-03 00:00:00,2020-10-03 00:00:00,2020-11-03 00:00:00,2020-12-03 00:00:00,2020-03-13 00:00:00,2020-03-14 00:00:00,...,2020-03-07 00:00:00,2020-04-07 00:00:00,2020-05-07 00:00:00,2020-06-07 00:00:00,2020-07-07 00:00:00,2020-08-07 00:00:00,2020-09-07 00:00:00,2020-10-07 00:00:00,2020-11-07 00:00:00,2020-12-07 00:00:00
0,1,41,Male,2020-03-09 20:20:00,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
1,2,0,Female,2020-03-10 20:20:00,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
2,3,13,Female,2020-03-10 20:20:00,NaN,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
3,4,0,NaN,2020-03-09 20:20:00,H,H,H,H,H,H,...,C,C,C,C,C,C,C,C,C,C
4,5,26,Male,2020-03-13 20:20:00,NaN,NaN,NaN,NaN,H,H,...,C,C,C,C,C,C,C,C,C,C